table.winnerTable {
    background-color: #D4EED1;
    width: 100px;
    text-align: center;
    border-collapse: collapse;
  }
  table.winnerTable td, table.winnerTable th {
    border: 1px solid #AAAAAA;
    padding: 3px 2px;
  }
  table.winnerTable tbody td {
    font-size: 13px;
    font-weight: bold;
  }
  table.winnerTable tfoot td {
    font-size: 13px;
  }
  table.winnerTable tfoot .links {
    text-align: right;
  }
  table.winnerTable tfoot .links a{
    display: inline-block;
    background: #FFFFFF;
    color: #A40808;
    padding: 2px 8px;
    border-radius: 5px;
  }

  table.loserTable {
    background-color: #F5C8BF;
    width: 100px;
    text-align: center;
    border-collapse: collapse;
  }
  table.loserTable td, table.loserTable th {
    border: 1px solid #AAAAAA;
    padding: 3px 2px;
  }
  table.loserTable tbody td {
    font-size: 13px;
  }
  table.loserTable tfoot td {
    font-size: 13px;
  }
  table.loserTable tfoot .links {
    text-align: right;
  }
  table.loserTable tfoot .links a{
    display: inline-block;
    background: #FFFFFF;
    color: #A40808;
    padding: 2px 8px;
    border-radius: 5px;
  }